################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ridebase/FileContentIndex/merges
/.vs/Ridebase
/obj
/bin
/.vs
/.dotnet/
/.nuget/
*.user
build-*.log

# Test project build artifacts
/Ridebase.Tests/bin/
/Ridebase.Tests/obj/
